* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    background: transparent;
    color: #f3e9e9;
    overflow: hidden;
    display: flex;
    width: 100vw;
    height: 100vh;
}

.placar-container {
    display: flex;
    align-items: center;
    background: rgba(10, 10, 10, 0.995);
    border-radius: 12px;
    width: fit-content;
    height: 75px;
    padding: 5px;
    margin: 5vh 0 0 2vw;
    border-bottom: 5px solid #E65100;
    border-right: 5px solid #E65100;
}

.time-nome {
    padding: 0 10px;
    font-size: 26px;
    text-transform: uppercase;
}

.gols {
    background: rgba(10, 10, 10, 0.8);
    font-size: 45px;
    padding: 0 10px;
    color: #f1c40f;
    font-weight: bold;
}

#tempo {
    font-size: 30px;
    margin-right: 10px;
    font-weight: normal;
}

.tempo-box {
    padding: 0 12px;
    font-size: 40px;
    font-weight: bold;
    border-left: 1px solid #444;
    min-width: 70px;
    text-align: center;
}

#acrescimo {
    color: #dc3545;
    font-weight: bold;
    font-size: 38px;
    margin-left: 5px;
    display: none;
    background: #f3e9e9;
    padding: 0 7px;
    border-radius: 8px;
}